<div fxLayout="column" fxLayoutAlign="center stretch">
<form [formGroup]="form">
  <div>
    <mat-form-field>
        <input matInput formControlName="title" placeholder="Enter title to remind you with...">
        <mat-error>Title is required</mat-error>
      </mat-form-field>
  </div>
  <div>
      <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Enter complete scenario to remember..."></textarea>
        <mat-error>Description is required</mat-error>
      </mat-form-field>
  </div>
<div fxLayout="row" fxLayout.xs="column" >
<div>
  <mat-form-field class="width">
    <input formControlName="startDate" matInput [matDatepicker]="startDatePicker" placeholder="Start date">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
    <mat-error>Pick start Date</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="padding" class="width">
    <input formControlName="endDate" matInput [matDatepicker]="endDatePicker" placeholder="End date">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
    <mat-error>Pick end date</mat-error>
  </mat-form-field>
</div>
</div>
  <div fxLayout="row"  fxLayout.xs="column" >
  <div>
    <mat-form-field>
      <input type="time" matInput formControlName="startTime" placeholder="Enter time to start your task">
      <mat-error>Start time is required</mat-error>
    </mat-form-field>
    </div>
    <div>
      <mat-form-field class="padding">
        <input type="time" matInput formControlName="endTime" placeholder="Enter time to end your task">
        <mat-error>End time is required</mat-error>
      </mat-form-field>
    </div>
  </div>
<div>
  <mat-form-field>
    <mat-select formControlName="status" placeholder="Todo status">
      <mat-option *ngFor="let status of todoStatusList" [value] = "status.value">
        {{status.view}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>    
  <button mat-raised-button type="submit" color="warn" [disabled]="form.invalid" matTooltip="Add Todo" (click)="addTodo()">Add Todo</button>
</div>
    </form>
</div>