<div fxLayout="column" fxLayoutAlign="center stretch">
<form [formGroup]="form">
  <div>
    <mat-form-field>
        <input matInput formControlName="title" placeholder="Enter title to remind you with...">
        <mat-error>Title is required</mat-error>
      </mat-form-field>
  </div>
  <div>
      <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Enter complete scenario to remember..."></textarea>
        <mat-error>Description is required</mat-error>
      </mat-form-field>
  </div>
<div fxLayout="row" fxLayout.xs="column">
<div>
  <mat-form-field class="width">
    <input formControlName="dueDate" matInput [matDatepicker]="dueDatePicker" [min]="minDate" placeholder="Due date">
    <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #dueDatePicker></mat-datepicker>
    <mat-error>Pick valid start Date</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input type="time" matInput formControlName="dueTime" placeholder="Enter time to start your task">
  </mat-form-field>
  <mat-error *ngIf="this.isValidToCheckTime()">{{minTimeError}}</mat-error>
  </div>
</div>
<div *ngIf="this.data.edit">
  <mat-form-field>
    <mat-select formControlName="status" placeholder="Todo status">
      <mat-option *ngFor="let status of todoStatusList" [value] = "status.value">
        {{status.view}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="center stretch">
<div>    
  <button mat-raised-button type="submit" color="warn" [disabled]="formValidate()" matTooltip="{{submitButtonText}}" (click)="addTodo()">{{submitButtonText}}</button>
</div>
</div>
    </form>
</div>