<div fxLayout="column" fxLayoutAlign="center stretch">
<form [formGroup]="form">
  <div>
    <mat-form-field>
        <input matInput formControlName="title" placeholder="Enter title to remind you with...">
        <mat-error>Title is required</mat-error>
      </mat-form-field>
  </div>
  <div>
      <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Enter complete scenario to remember..."></textarea>
        <mat-error>Description is required</mat-error>
      </mat-form-field>
  </div>
<div fxLayout="row" fxLayout.xs="column" >
<div>
  <mat-form-field class="width">
    <input formControlName="startDate" matInput [matDatepicker]="startDatePicker" [min]="minDate" placeholder="Start date">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
    <mat-error>Pick start Date</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input type="time" matInput formControlName="startTime" placeholder="Enter time to start your task">
    <mat-error>Start time is required</mat-error>
  </mat-form-field>
  </div>
</div>
<div>
  <mat-form-field>
    <mat-select formControlName="status" placeholder="Todo status">
      <mat-option *ngFor="let status of todoStatusList" [value] = "status.value">
        {{status.view}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="center stretch">
<div  *ngIf="!this.data.edit">    
  <button mat-raised-button type="submit" color="warn" [disabled]="form.invalid" matTooltip="Add Todo" (click)="addTodo()">Add Todo</button>
</div>
<div *ngIf="this.data.edit">
  <button mat-raised-button color="warn" (click) = "editTodo()">edit</button> 
</div>
</div>
    </form>
</div>